.contain{
    height: 100%;
}

.contain-form-ed{
    padding: 3% 30% 2% 30%;
}

.editar-perf{
    margin-bottom: 2%;
    font-size: 60px;
    text-align: center;
}

.image{
    margin-bottom: 3%;
    width: 30% !important;
    height: 30% !important;
}

.btn{
    margin-left: 3% !important;
}

.guardar{
    margin-top: 1% !important;
}

.autorizar-ed{
    margin-top: 2%;
}