.log-form{
    display: grid;
    grid-template-rows: 10% 30% 30%;
    grid-template-columns: 100%;
    justify-items: center;
    margin-top: 2%;
}

/*dentro de log-form*/
.title-login{
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 60px;
}

.div-email{
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    margin: 1%;
    width: 20%
}

.div-pass{
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 100%;
    width: 20%;

    justify-items: center;
}

/*dentro de div-email*/
.lab-email{
    grid-row-start: 1;
    grid-row-end: 1;
}

.email-input{
    grid-row-start: 2;
    grid-row-end: 2;

    width: 100%;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*dentro de div-pass*/
.lab-pass{
    grid-row-start: 1;
    grid-row-end: 1;

    justify-self: start
}

.pass-input{
    grid-row-start: 2;
    grid-row-end: 2;

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-signin{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    height: 100%;
    width: 30%;
    margin: 5%;

    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: #1986fa;
    border-color: #1986fa;
    color: #fff;
}

.btn-signin:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
    text-decoration: none;
}