.navbardiv{
    justify-content: center;
}

.bg-dark{
    background-color: #362046 !important;
}

.navbar{
    height: 80px;
}

.nav-item{
    font-size: 22px !important;
}

.nav-link::selection{
    color: white !important;
}

.pvips{
    font-size: 30px !important;
}
.circle{
        width: 36;
        height: 36;
        border-radius: 18;
        background: 'red';
    
}

.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
  }