.content{
    height: 100%;
    
}

.contain{
    height: 100%;
}

.contain-form{
    margin: 2% 10% 0% 10% !important;
    padding: 0% 1% 0% 1%;
    height: 100%;
}

.info{
    width: 100%;
    display: grid;
    grid-row: auto;
    grid-template-rows: 40% 8% 8% 8% 8% 15%;
    grid-template-columns: 30% 70%;
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #b8bbcc;
    border-radius: 8px;
    justify-content: center;
    justify-items: baseline;
    margin-bottom: 2%;
}

.button-edit{
    grid-row-start: 5;
    grid-row-end: 5;
    display: block;
    justify-self: center;
    align-self: center;
    width: 100%;
    text-align: center;
}

.editar{
    background-color: #4c3b7b;
    border: none;
    grid-row-start: 5;
    grid-row-end: 5;
    color: white;
    padding: 2% 3%;
    text-decoration: none;
    display: block;
    font-size: 14px !important;
    border-radius: 8px;
    height: 50%;
    margin: 0% 0% 0% 40% !important;
}

.img-perfil{
    width: 30%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 4px;
    justify-self: center;
}

.info-perfil{
    text-align: center;
    padding: auto;
    margin-left: 10%;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 4%;
}


.info-perfil-top{
    text-align: center;
    padding: auto;
    margin: auto;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
}

.projetos-a-decorrer{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left: 2%;
}

.projetos-terminados{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    padding-left: 2%;
}

/*table de projetos a decorrer*/
table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
   background-color: #fff;
}

table#t01 th {
    background-color: #362046;
    color: white;
}

