.proj-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 55% 1% 7%;
    grid-template-rows: 100%;
    margin: 1%;
}

/*dentro de container*/
.folha{
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 2% 85%;
    padding: 2% 5% 2% 5%;
    font-size: 20px;
    border-color: rgb(100, 99, 99);
    border-style: solid;
    margin-bottom: 10%;
    height: 100%;
}

button{
    grid-column-start: 3;
    grid-column-end: 3;
    font-weight: 600;
}

/*dentro de folha*/
.h1{
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 38px;
    font-weight: 700;
    justify-self: center;
}

.proj-info{
    grid-row-start: 3;
    grid-row-end: 3;
    display: none;
    grid-template-columns: 50% 50%;
}

.proj-ext-info{
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*dentro de proj-info*/
.proj-info>label{
    margin-bottom: 10%;
}

.clear-btn-2{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 1%;
    border-radius: 5px;
    font-size: 16px;
}
