.insc-container{
    justify-content: center;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
    margin: 1%;
}

.h1-insc{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.remover{
    display: revert;
    text-align: center;
}