.container-div{
    margin: 4% 15% 2% 15%;
    height: 100%;
}

.options-div{
    margin: 1%;
    height: 20%;
    background-color: #362046;
    padding: 1%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 15% 30% 5% 50%;
    grid-template-rows: 100%;
    color: white;
}

.search{
    border-radius: 8px;
    margin: 1%;
    grid-column-start: 1;
    grid-column-end: 1;
}

.clear-btn{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 15%;
    height: 100%;
    border: none;
    margin-left: 1%;
    border-radius: 20px;
    font-size: 16px;
    padding: 0% !important;
}

.int-ext{
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex; 
}

.estado{
    grid-column-start: 4;
    grid-column-end: 4;
    display: none; /*flex or none*/
}

.tipo{
    margin: 1%;
}

.propor{
    grid-column-start: 4;
    grid-column-end: 4;
    height: 90%;
    width: 30%;
    justify-self: end;
    border-radius: 4px;
    display: block; /*block or none*/
    background-color: white;
    border: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.projetos-tb-header{
    background-color: #7e7397;
}

.projetos-tb-header-tittle{
    font-size: 20px;
    text-align: center;
}

td{
    text-align: center !important;
    padding: 10px !important;
}

.inscrever{
    display: revert; /*revert or none*/
    background-color: #396fb5;
    color: white;
    border: none;
    font-size: 15px;
}

.proj-aceitar{
    display: revert; /*revert or none*/
    background-color: #3f9f37;
    color: white;
    border: none;
    font-size: 15px;
    margin: 4%
}

.proj-recusar{
    display: revert; /*revert or none*/
    background-color: #9f3737;
    color: white;
    border: none;
    font-size: 15px;
    margin: 4%
}

