.contain{
    height: 500px;
}

.contain-form-reg{
    padding: 3% 30% 2% 30%;
}

.registar{
    margin-bottom: 2%;
    font-size: 60px;
    text-align: center;
}

.autorizar{
    margin-top: 2%;
}